---
import { published } from "@data/post"
import Blog from "@layouts/Blog";
import Preview from "@components/blog/Preview";

const markdownFiles = await Astro.glob('../content/**/*.md')
const posts = published( markdownFiles );
---

<Blog title="Codename: Brother - Learning to code">
	<div class="content container">
		{posts.map((p) => <Preview post={p} />)}
	</div>
</Blog>
